/Containers/

.card-style {
  background-color: #A5C0A0;
  width: 595.88px ;
  height: 158.71px;
  margin: 20px 32px;
  box-shadow: 0 6px 5px rgba(0,0,0,.25);
  font-size: 16px;
  line-height: 21.86px;
  color: rgba(50, 58, 48, 0.7);
  padding-left: 120px;
}

.card-green {
	background-color: #90AB8F;
  	width: 628px ;
  	height: 177px;
  	margin: 20px auto;
	padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;  	
  line-height: 16px;
  	font-size: 12px;
  	box-shadow: 0 6px 5px rgba(0,0,0,.25);
  	color: rgba(0, 0, 0, 0.6);
}

.card-picture {
	width: 800px;
	left: 391px;
	top: 562px;
	margin: 20px auto;
}

.card-design{
  padding:10px;
   background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.container{
	background: #A5C0A0;
  padding: 15px;
  margin: 100px auto;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  width: 875px;
  height: 400px;
}

.table-style{
  margin: 1px 10px;
  width: 600px;
  height: 165px;
}

.text-align{
  text-align: center;
}

.texte-align{
  text-align: left;
}

.texte-alignment{
  text-align: right;
}

.text-alignment{
	text-align: end;



	
