@import url("css/petsitter-registration.css")
@import url("css/header.css")
@import url("css/petsitterinformation.css")
@import url("css/profilepage.css")
@import url("css/filtering.css")
@import url("css/footer.css")

/* Titles, body and links*/

body {
background-color: #ffffff;
color: #458773;
font-family: Avenir, sans-serif;
margin: 0px 0px;
}

h1 {
color: #FD5523;
font-size: 40px;
font-family: avenir;
margin-top: -45px;
text-align: center;
text-shadow: 0px 4px rgba(0,0,0,0.1)
}

a {
color: #458773;
text-decoration: none;
}

a:hover {
 color: black;
}

