@import url("css/petsitter-registration.css");
@import url("components/header.css");
@import url("css/petsitterinformation.css");
@import url("css/profilepage.css");
@import url("css/filtering.css");
@import url("components/footer.css");
@import url("components/avatar.css");
@import url("components/btn.css");
@import url("components/containers.css");
@import url("components/form.css");
@import url("components/pagination.css");
@import url("components/table.css");
@import url("components/calendar.css");

/* Titles, body and links*/

body {
background-color: #ffffff;
font-family: Avenir, sans-serif;
margin: 0px 0px;
}

h1 {
color: #FD5523;
font-size: 40px;
font-family: Avenir, sans-serif;
margin-top: -45px;
text-align: center;
text-shadow: 0px 4px rgba(0,0,0,0.1)
}


h2 {
  color: #FD5523;
  font-size: 40px;
  font-weight: bold;
}

h3{
  color: #323A30;
  font-size: 30px;
  font-family: Avenir;
  text-align: center;
  margin-top: -60px;
  text-shadow: 0px 4px rgba(0,0,0,0.1)
}

h4 {
  font-size: 18px;
  font-weight: lighter;
}

a {
color: #458773;
text-decoration: none;
}

a:hover {
 color: black;
}

p {
font-size: 12px;
}

#map-size {
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  float: right;
  width: 120%;
}

