/* Colors and fonts */

body{
  background-color: #ffffff;
  color: #8F8F8F;
  font-family: avenir;
  font-size: 16px;}

/* Custom design with class */

.container{
  background: #A5C0A0;
  padding: 15px;
  margin: 100px auto;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  width: 830px;
  height: 370px;
}

.btn-grey{
  background-color: #F5F5F5;
  color:#8F8F8F;
  padding: 10px 25px;
}

.text-align{
  text-align: center;
}

.btn-green{
  background-color: #458773;
  color:#FFFFFF;
  padding: 10px 25px;
}

.card-color{
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.card-form{
  padding:10px;
}

.card-padding{
  padding-left: 5px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.card-forme{
  background-color: white;
  border-radius: 50px;
  text-align: center;
}









