body {
  background-color: #E5E5E5;
  font-family: 'Avenir', sans-serif;
  margin: 0px 0px;
}

h1 {
  color: #FD5523;
  font-size: 40px;
  text-align: center;
  text-shadow: 0px 4px rgba(0,0,0,.1);
  margin-top: -45px;
}

a {
  color: #458773;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3 ease;
}

a:hover {
  color: black;
}


.header-style {
  background-color: #F0C899;
  color: #458773;
  font-size: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  font-weight: bold;
}

.logo-size {
width: 180px;
padding-top: 5px;

}

.container {
  background: #A5C0A0;
  padding: 15px;
  margin: 100px auto;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  width: 875px;
  height: 400px;
}

.form-style {
  height: 53px;
  width: 346px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 62px;
  box-sizing: border-box;
}

.input-style {
  background-color: #E4E4E4;
  height: 53px;
  width: 346px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 82px;
  box-sizing: border-box;
}

#calendar-size {
  width: 409px;
  height: 305px;
  margin-bottom: 110px;
  margin-left: 50px;
  margin-top: -10px;
}

.btn-green {
  background-color: #458773;
  color:#FFFFFF;
  padding: 10px 25px;
  margin-left: -50px;
}

/*CSS for Footer*/

.icon-align {
  list-style: none;
  font-size: 30px;
}
.icon-align > li {
  display: inline;
  padding-right: 0px 30px;
}

.footer-color {
  background-color: #F0C899;
  color: #458773;
  font-size: 16px;
  padding: 30px 30px;
  height: 104px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.card-rectangle {
	width: 600px;
	height: 590.89px;
	background-color: #A5C0A0;
	box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.list-incolumn {
	font-size: 30px;
	font-weight: 400;
	padding-left: 0px; 
	list-style: none;
	line-height: 53px;
	text-align: center;
	margin-block-end: 0.3em;
}

.list-incolumn li {
	padding: 20px;
}

.btn-white {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  color: black;
  width: 437.88px;
  height: 77.21px;
  padding: 17px 40px;
  margin: 35px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-white:hover {
    background-color: #e3e2e2;
}


.btn-black {
  background-color: black;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  color: white;
  width: 437.88px;
  height: 77.21px;
  padding: 17px 64px;
  margin: 35px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-black:hover {
	background-color: #000000c7;
}
#or {
	margin: 15px;
}

#account {
	padding-left: 120px;
	font-weight: 400;
	color: rgba(50, 58, 48, 1);
	font-size: 20px;
}

#login {
	text-decoration-line: underline;
	font-weight: bold;
	font-size:20px;
	color: #305F51;
	padding-left: 10px;
}

#login:hover {
	color: #16352c;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  cursor: pointer;
    display: inline-block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
  width: 160px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
