body {
  background-color: #E5E5E5;
  font-family: 'Avenir', sans-serif;
  margin: 0px 0px;
}

h1 {
  color: #FD5523;
  font-family: 'Avenir', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: -60px;
  text-shadow: 0px 4px rgba(0,0,0,.1);
}

a {
  color: #458773;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3 ease;
}

a:hover {
  color: black;
}


.header-color {
  background-color: #F0C899;
  color: #458773;
  font-size: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  height: 104px;
}

.nav-style {
  padding: 40px;
}

.nav-right {
  padding-left: 190px;
  padding-right: 60px;
}

.logo-size {
  width: 180px;
  padding: 10px 10px;
}

.card-style {
  background-color: #A5C0A0;
  width: 944px ;
  height: 516px;
  margin: 75px auto;
  padding: 30px;
  line-height: 60px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.form-style {
  height: 53px;
  width: 346px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
 margin-bottom: 82px;
}

.input-style {
  background-color: #E4E4E4;
  height: 53px;
  width: 346px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 82px;
}

#calendar-size {
  width: 469px;
  height: 365px;
  margin: -50px 10px 30px 80px;
}

.btn-green {
  background-color: #458773;
  color: white;
  height: 43px;
  width: 111px;
  text-align: center;
  float: right;
  margin-left: -100px;
  margin-top: 170px;
}

.icon-align {
  list-style: none;
  text-align: right;
  font-size: 30px;
  margin-left: 1000px;
}

.icon-align > li {
  display: inline;
  padding-right: 0px 30px;
}

.footer-color {
  background-color: #F0C899;
  color: #458773;
  font-size: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 30px 30px;
  height: 104px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

