body {
	color: black;
	font-family: Avenir;
	letter-spacing: -0.5px;
	margin: 100px auto;
	width:650px;
	display: block;
	font-weight: normal;
	background-image: url("file:///C:/Users/Ga%C3%ABlle/Desktop/petsitter-signup/background.html")
}


h1 {
	color:#323A30;
	font-family: Avenir;
	font-style: normal;
	letter-spacing: -0.02em;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin: -10px auto;
	border-radius: 5px;
	padding-top: 23px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.card-rectangle {
	width: 600px;
	height: 646.89px;
	background-color: #A5C0A0;
	box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
	font-size: 20px;
}

.list-incolumn {
	font-size: 30px;
	font-weight: 400;
	padding-left: 0px; 
	list-style: none;
	line-height: 53px;
	text-align: center;
}

.list-incolumn li {
	padding: 20px;
}

.btn-white1 {
  background-color: #FFFFFF;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  color: black;
  width: 437.88px;
  height: 77.21px;
  padding: 20px 40px;
  margin: 35px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-white2 {
  background-color: #FFFFFF;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  color: black;
  width: 437.88px;
  height: 77.21px;
  padding: 20px 56px;
  margin: 35px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-white3 {
  background-color: #FFFFFF;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  color: black;
  width: 437.88px;
  height: 77.21px;
  padding: 20px 76px;
  margin: 35px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.btn-black {
  background-color: black;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  color: white;
  width: 437.88px;
  height: 77.21px;
  padding: 20px 64px;
  margin: 35px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
	padding-left: 120px;
	font-weight: 400;
	font-size: 20px;
	color: rgba(50, 58, 48, 1);
}


#account {
	padding-left: 120px;
	font-weight: 400;
	color: rgba(50, 58, 48, 1);
	font-size: 20px;
}

#login {
	text-decoration-line: underline;
	font-weight: 800;
	font-size:20px;
	color: #305F51;
	padding-left: 10px;
}




