/*CSS to be deleted when consolidated */
body {
  background-color: #E5E5E5;
  font-family: 'Avenir', sans-serif;
  margin: 0px 0px;
}

a {
  color: #458773;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3 ease;
}

a:hover {
  color: black;
}


/*CSS for Header*/

.header-style {
  background-color: #F0C899;
  color: #458773;
  font-size: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  font-weight: bold;
}

.logo-size {
width: 180px;
padding-top: 5px;
}

.smallerform-style {
  height: 53px;
  width: 252px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 62px;
}

.smallerinput-style {
  background-color: #E4E4E4;
  height: 53px;
  width: 141px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}

/*CSS for Footer*/
.icon-align {
  list-style: none;
  font-size: 30px;
}
.icon-align > li {
  display: inline;
  padding-right: 0px 30px;
}

.footer-color {
  background-color: #F0C899;
  color: #458773;
  font-size: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 30px 30px;
  height: 104px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*CSS for Pagination */
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin-bottom: 15px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


/*CSS to be kept */

#map-size {
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  float: right;
  width: 120%;
  margin-top: 200px;
  margin-right: -25px;
}

.form-layout {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  justify-content: flex-start;
  grid-gap: 20px;
}

#btn-align {
padding-top: 20px;
}

.card-style {
  background-color: #A5C0A0;
  width: 700px ;
  height: 158px;
  margin: 20px auto;
  box-shadow: 0 6px 5px rgba(0,0,0,.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 18px;
  padding: 10px;
  box-sizing: border-box;
  column-gap: 5px;
}

 .avatar-style {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 6px 5px rgba(0,0,0,.25);
  float: left;
 }

.avatar-margin {
  margin-left: -58px;
}

h2 {
  color: #FD5523;
  font-size: 40px;
  font-weight: bold;
}

.items-margin {
  margin-bottom: -16px;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

p {
font-size: 12px;
}

.cards-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 115px;
  margin-left:-300px;
}

.price-align {
  float: right;
  font-size: 16px;
  text-align: center;
}

.price-style {
  color: #FD5523;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0px 4px rgba(0,0,0,.1);
  line-height: 50px;
}

.rating-style {
  font-size: 18px;
  color: black;
  font-weight: lighter;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .header-style {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .header-style {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .header-style {
    width: 300px;
  }
