/* CSS for Avatar on search results page */

.avatar-style {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 6px 5px rgba(0,0,0,.25);
  float: left;
 }

.avatar-margin {
  margin-left: -58px;
}

.avatar-big {
    width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 6px 5px rgba(0,0,0,.25);
  margin-right: 20px;
}
