
.btn-green{
background-color: #458773;
color:#FFFFFF;
padding: 10px 25px;
}

#submit-margin {
  margin-left: -70px;
}

.btn-grey {
  background-color: #F5F5F5;
  color:#8F8F8F;
  padding: 10px 25px;
}

/* CSS for sign up modal */
.btn-white {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  width: 437.88px;
  height: 60.21px;
  margin: 25px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-white:hover {
    background-color: #e3e2e2;
}

.btn-black {
  background-color: black;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
  color: white;
  width: 437.88px;
  height: 60.21px;
  margin: 25px auto;
  text-decoration-line: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-black:hover {
	background-color: #000000c7;
}

.link-black {
	  text-decoration-line: none;
	  color: black;
}

.link-white:hover {
    color: white;
}


.link-white {
	  text-decoration-line: none;
	  color: white;
}

#login {
	text-decoration-line: underline;
	font-size:20px;
	color: #305F51;
	padding-left: 10px;
}


#login:hover {
	color: #16352c;
}


/* CSS for petsitter dashboard page */

.btn-profile {
   background-color: #90AB8F;
  width: 219px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: solid;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.56);
}

.btn-left {
   background-color: #A5C0A0;
}

.link-color {
  padding-left: 40px;
  color: rgba(253,100,55,1);
  height: 60px;
 font-weight: normal;
  font-size: 18px;
}

.btn-green1 {
  background-color: #458773;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 80px;
  padding: 15px 30px;
  margin-left: 405px;
}

#edit-tab1 {
  padding-top: 40px
}

.btn-green2 {
  background-color: #458773;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 80px;
  padding: 15px 30px;
  margin-left: 519px;
}

#edit-tab {
  padding-bottom: 80px
}


.btn-green3 {
  background-color: #458773;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 80px;
  padding: 15px 30px;
  margin-left: 41px;
}

/* CSS for search results page */

#btn-align {
margin-top: -60px;
}

button {
font-family: Avenir, sans-serif;
border: none;
background: none;
color: #458773;
font-weight: bold;
font-size: 16px;
}

button:hover {
color: black;
}

/* Button for Petsitter information page */

.save-btn {
    position: absolute;
    width: 150px;
    height: 50px;
    right: 10px;
    bottom: 10px;
}
