#calendar-size {
    width: 409px;
    height: 305px;
    margin-left: 50px;
    margin-top: -25px;
    margin-bottom: 90px;
}

.calendar-style {
  width: 400px;
  height: 340px;
  margin-top: 40px;
}
