
.icon-align {
  list-style: none;
  font-size: 30px;
}
.icon-align > li {
  display: inline;
  padding-right: 0px 30px;
}

.footer-color {
  background-color: #F0C899;
  color: #458773;
  font-size: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 30px 30px;
  height: 104px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footertext-size {
  padding: 15px;
}
