/*CSS for dropdown menu */

.form-style {
  height: 53px;
  width: 346px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 62px;
  box-sizing: border-box;
}

.smallerform-style {
  height: 53px;
  width: 252px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 62px;
}

/* CSS for input form */

.input-style {
  background-color: #E4E4E4;
  height: 53px;
  width: 346px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 82px;
  box-sizing: border-box;
}

.smallerinput-style {
  background-color: #E4E4E4;
  height: 53px;
  width: 141px;
  box-shadow: 0 4px 4px rgb(0,0,0, 25%);
  border: none;
  padding: 7px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}

/* Additional CSS for search results page */

.form-layout {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  justify-content: flex-start;
  grid-gap: 20px;
}

/* CSS for petsitter dashboard page */
* {
  box-sizing: border-box;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  padding: 40px;
  padding-top: 250px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  padding-left: 140px;
  width: 60%;
}

